.container{
    flex:1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap:2vh
}


.listitem{
    background-color: #EDE5BE;
    border-radius: 3vh;
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listitem:hover{
    box-shadow: 0.3vh 0 0.1vh 0 #E6D9CF ;
    cursor: pointer;
    scale: 1.02;
}
.listitem a{
    color:#DF714D;
}
