@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
    background:radial-gradient(circle, #ee72c4 0%, #ee72c4 0%, #fe6c99 100%);
}

.container {
    /* box-sizing: border-box; */
    width: 400px;
    padding: 80px;
    background-color: #fff;
    filter: hue-rotate(150%);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 30px;
}

button {
    color: whitesmoke;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    background:linear-gradient(90deg, #ee72c4 0%, #ee72c4 0%, #fe6c99 100%);
}

.submit {
    width: 100%;
}

h2 {
    line-height: 20px;
    width: 100%;
    margin: 0;
    text-align: center;
}

p {
    height: fit-content;
}

p,
h2,
input,
div,
textarea {
    font-family: 'Mulish', sans-serif;
}

input {
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 10px;
    border: #555 2px solid;
}

input:focus,
textarea:focus {
    border: #fd6b9a 2px solid !important;
    outline: none
}

textarea {
    min-height: 100px;
    height: fit-content;
    border-radius: 4px;
    padding-left: 10px;
    border: #555 2px solid;
    padding-top: 10px;
}