.container {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    flex-wrap: wrap;
    gap: 4vh
}

button {
    border: none;
    font-size: 3vh;
    border-radius: 100%;
    background-color: #ffffff;
    padding: 0;
    display: flex;
}

button:hover {
    scale: calc(1.02);
    cursor: pointer;
}

.month {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    justify-content: start;
    align-items: center;
    gap: 0;
    background: #F2EAD3;
    border-radius: 2vh;
}

.day {
    background-color: #F5F5F5;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #3F2305
}

.inactive {
    background-color: #DFD7BF;
}

.week_days_container {
    display: flex;
    justify-content: space-around;
    /* flex: 1 0 auto; */
    width: 100%;
    block-size: 30px;
    align-self: flex-start;
}

.week_days {
    text-align: center;
    width: 30px;
    /* padding: 1vh; */
}

.days_container {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    justify-content: space-evenly;
}

h3 {
    padding: 0;
    margin: 1vh;
}

.moods {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 70%;
}

.mood_container {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.today {
    border: 1px solid #3F2305;
    box-shadow: 1px 1px 3px #3F2305;
}

.day:hover:not(.inactive) {
    scale: calc(1.1);
    cursor: pointer
}

#mood_1 {
    background-color: #ffffff;
    color: #FFA500;
}

#mood_2 {
    background-color: #ffffff;
    color: #FFD700;
}

#mood_3 {
    background-color: #ffffff;
    color: #A9A9A9;
}

#mood_4 {
    background-color: #ffffff;
    color: #6495ED;
}

#mood_5 {
    background-color: #ffffff;
    color: #008080;
}

#mood_1.active {
    color: #ffffff;
    background-color: #FFA500;
}

#mood_2.active {
    color: #ffffff;
    background-color: #FFD700;
}

#mood_3.active {
    color: #ffffff;
    background-color: #A9A9A9;
}

#mood_4.active {
    color: #ffffff;
    background-color: #6495ED;
}

#mood_5.active {
    color: #ffffff;
    background-color: #008080;
}